@{ 
    Layout = null;
}
<table class="table table-bordered table-hover">
    <tr>
        <td>Login</td>
        <td><input id"txtUserName" name="txtUserName" type="text" class="userName" /></td>
    </tr>
    <tr>
        <td>Password</td>
        <td><input id"txtPassword" name="txtPassword"  type="password" class="userPwd"/></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="button" id="btnLogin" value="Login" onclick="Login();" />
        </td>
    </tr>
</table> 